
.general {
  font-size: 20px;
  line-height: 20px;
  font-weight: 300;
}

#wrapper {
  padding: 50px;
  font-family: "FF Mark", Helvetica, Arial, sans-serif;
  color: rgba(10,0,1,0.63);
  background:  ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}

.form_container {
  font-weight: 300;
}

.invoice_amount{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  top: 25px;
  position: absolute;
}
.slider-container {
  width: 600px;
  margin-bottom: 10px;
}

.days_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

label {
  padding: 0 2px;
  opacity: .4;
  color: #000;
  font-size: 9px;
  line-height: 12px;
}

.label-left{
  position: absolute;
  left: 0px;
  top: -18px;
}

.label-right {
  position: absolute;
  right: 0px;
  top: -18px;
}

.value_invoice{
  color: #5a2396;
  margin-left: 150px;
}

.values_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
}

.values {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 40px 0px 40px;
  width: 150px;
  box-shadow:0px 0px 4px 0px #5a2396;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

#value-3 {
  margin-left: auto;
  background: #5a2396;
  color: white;
  text-shadow: rgb(0, 0, 0) 1px 1px 2px;
}

#value-2, #value-1 {
  border: solid 2px #5a2396;
  color: #5a2396;
}

#value-2 {
  margin-left: 20px;
}

/********* Radio buttons *********/

input[type='radio']:after {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: -3px;
    left: -2px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #5a2396;
}

input[type='radio']:checked:after {
    background-color: rgb(0, 215, 255);
}

.days_text {
  font-size: 16px ;
  margin-left: 5px;
}


/********* jQuery classes *********/
#slider-1 .ui-slider-range {
  background:linear-gradient(to right, #3cb0fd, #5a2396);
}

#slider-1 {
  background: silver;
  position: relative;
}

div#slider-1 {
  height: 7px;
}


#slider-1 .ui-slider-handle {
  border-color: transparent;
  background: url(oval-blue.svg);
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  top: -10;
}

span.ui-slider-handle.ui-corner-all.ui-state-default:focus {
  outline: none;
}

@media (max-width: 900px) {
  .container-upper {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .invoice_amount {
    position: relative;
  }

  .days_container {
    margin-bottom: 20px;
  }

  .values_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #value-2 {
    margin-left: 0px;
  }

  #value-3 {
    margin-left: 0px;
    border: solid 2px #5a2396;
  }

  form {
    text-align: center;
  }

  .values {
    width: 400px;
    margin-bottom: 10px;
  }

  .slider-container {
    width: 490px
  }

  }

@media (max-width: 530px) {
  .container-upper {
    max-width: 400px;
  }

  .slider-container {
    width: 380px
  }

  .values {
    width: 300px;
  }

  .invoice_amount {
    flex-direction: column;
  }

  .value_invoice {
    margin-left: 0px;
  }

}
